spring:
  application:
    name: SpringSecurityProject

  datasource:
    url: jdbc:mysql://localhost:3306/
    username: root
    password: Ratanlord@1409
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    user:
      name: Ratnakar
      password: Ratanlord@1409

server:
  port: 8091

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: TRACE